* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
}

.html .body {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}

.inputWrapper {
	padding: 1%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
}

.inputCity {
	height: 100%;
	width: 250px;
	margin-bottom: 5px;
	display: flex;
	border: 2px solid #00d676;
	padding: 10px;
	align-items: center;
}

.inputId {
	height: 100%;
	width: 250px;
	display: flex;
	border: 2px solid #00d676;
	padding: 10px;
	align-items: center;
}

.button {
	background-color: #01ad60;
	border: none;
	color: white;
	padding: 10px 20px;
	border-radius: 3px;
	margin-top: 5px;
	cursor: pointer;
	width: 150px;
}

.blog {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.item {
	margin: 5px auto;
	width: 300px;
	padding:  5px;
	border: 2px solid rgb(153, 0, 255) ;
	border-style:dashed;
	text-align: center;
	justify-content: center;
}

.itemButton {
	height: 20px;
	width: 60px;
	background-color: rgb(0, 255, 0);
}